braintreebank/
braintreebank_zip/
braintreebank_data_chunks/
braintreebank_benchmark_data_chunks/
braintreebank_data_chunks_raw/
braintreebank_benchmark_data_chunks_raw/

presentation/

venv/
.venv/
__pycache__/

training_losses*
training_results/

ssh*

reports/
r/
wandb/