braintreebank/
braintreebank_zip/
braintreebank_datachunks/
braintreebank_datachunks_benchmark/
braintreebank_datachunks_benchmark_raw/
braintreebank_datachunks_raw/

presentation/

temp/

venv/
.venv/
__pycache__/
.*/

training_losses*
training_results/

ssh*

reports/
r/
wandb/